.timeCalender {
  margin-bottom: 20px;
}

.title {
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #a09d9d;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.title h5 {
  margin-bottom: 0 !important;
}

.calendar .ant-select-selector {
  border-radius: 10px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.info-class {
  font-weight: bold;
}
.info-class span {
  font-weight: normal;
}
